---
import BaseLayout from '../layouts/BaseLayout.astro';
import MinimalTheme from '../components/themes/MinimalTheme.astro';
import GlitchTheme from '../components/themes/GlitchTheme.astro';
import ParticleTheme from '../components/themes/ParticleTheme.astro';
import ThemeSwitcher from '../components/ThemeSwitcher.astro';
---

<BaseLayout>
  <main class="theme-pane" data-theme="minimal">
    <MinimalTheme />
  </main>
  <main class="theme-pane" data-theme="glitch">
    <GlitchTheme />
  </main>
  <main class="theme-pane" data-theme="particle">
    <ParticleTheme />
  </main>
  <ThemeSwitcher />
</BaseLayout>
